# Dependencies
node_modules/
dist/

# Logs
*.log
npm-debug.log*

# Test coverage
coverage/

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TypeScript
*.tsbuildinfo